[submodule "developingminds/themes/portio"]
	path = developingminds/themes/portio
	url = https://github.com/StaticMania/portio-hugo.git
[submodule "developingminds/public"]
	path = developingminds/public
	url = https://github.com/colin-f/colin-f.github.io.git
	branch = main
